* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

input {
    margin: 20px auto;
    width: 90%;
    height: 40px;
    font-size: 20px;
}

::placeholder {
    color: crimson;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    padding: 20px;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}